# Jekyll build output
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Dependencies
vendor/
node_modules/

# Environment variables
.env

# History files
*.history

# VSCode
.vscode/

# GitHub settings
.github/*

# macOS
.DS_Store